fastapi
uvicorn
google-generativeai
faiss-cpu
numpy
PyMuPDF
pytesseract
Pillow
python-multipart
python-jose
passlib[bcrypt]
bcrypt
pydantic
pydantic-settings
python-dotenv
gunicorn
reportlab
python-docx
slowapi
